.checker {
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.75rem;
  font-weight: 800;

  flex-shrink: 0;

  width: var(--checker);
  height: var(--checker);
}

.white {
  background: radial-gradient(
    circle at 30% 25%,
    #ffffff,
    #e7efff 58%,
    #a9bbe1 100%
  );

  box-shadow:
    0 3px 7px rgba(5, 9, 28, 0.5),
    inset 0 -2px 3px rgba(52, 77, 132, 0.28),
    inset 0 1px 1px rgba(255, 255, 255, 0.5);

  color: #22285d;

  border: 1px solid #b8caf2;
}

.black {
  background: radial-gradient(
    circle at 30% 25%,
    #5752b6,
    #29276d 55%,
    #141537 100%
  );

  box-shadow:
    0 3px 7px rgba(5, 9, 28, 0.5),
    inset 0 -2px 3px rgba(7, 8, 32, 0.58),
    inset 0 1px 1px rgba(185, 185, 255, 0.22);

  color: #edf2ff;

  border: 1px solid #19183f;
}
