.ghost {
  position: absolute;
  z-index: 60;
  pointer-events: none;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.4));
}

.dragging {
  cursor: grabbing;
  user-select: none;
}

.dragging * {
  cursor: grabbing !important;
}
